body {
  background-image: url('hi.gif');
  background-color: #5f8df7;
  background-size: cover;
}

#remaining-time {
  font-size: 2.5vw;
  color: #ff0000;
}

.corner-image {
  width: 19.01%;
  height: auto;
}

.image-links img {
  width: 5.51%;
  height: auto;
}

.text {
  color: #44ff00;
  font-size: 1.32vw;
}

h1 {
  color: #66ff00;
  text-align: center;
  font-size: 2.64vw;
}
#remaining-time {
  font-size: 2.5vw;
  color: #ff0000;
}

.corner-image {
  width: 33.01%;
  height: auto;
}

.image-links img {
  width: 7.51%;
  height: auto;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #081baa;
  color: #fff;
  height: 35px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right; /* added float: right; to align links to the right */
}

nav ul li {
  display: inline;
  padding: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.content {
  margin-top: 25px; /* adjust margin based on the height of the navbar */
  /* styles for the rest of your page content */
}
.text {
  color: #a9ff8a;
  font-size: 1.93vw;
}

h1 {
  color: #66ff00;
  text-align: center;
  font-size: 3.64vw;
}
</style>
</head>
<body>
<p>
<a href="secret.html" id="period-link">Period 4 10:47 - 11:42</a>
</p>
